<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $fancybox = MAGE::helper('ThemeOptions')->getThemeOptions('fancybox' );
    $grid = MAGE::helper('ThemeOptions')->getThemeOptions('grid' );
?>

<table class="contact-list">

 <tr>
    <td class="catimage" style="margin:10px 0px 32px">
  <?php  
  
    
   $category = Mage::getModel('catalog/category')->load($this->getCategoryId());
  $categoryImage=Mage::getModel('catalog/category')->load($this->getCategoryId())->getThumbnail(); ?>
 <a href="<?php echo $category->getUrlPath() ?>"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$categoryImage  ?>" /></a>
    
    </td>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

    
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>

    <?php if ($grid == 'grid_standard'): //////// Standard Grid ?>
    
    
<td class="contactname">
    <?php $i=1; foreach ($_productCollection as $_product): ?>

            
          <h2><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
          
          
            
        
            <?php $i++; endforeach ?>
      </td>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        
    
        
    <?php endif; ///////////// Grid ?>
    <script type="text/javascript">
        jQuery(window).load(function(){
            var $container = jQuery('.products-grid');
            $container.isotope({
                itemSelector: '.item',
                resizable: true,
                layoutMode : 'fitRows'
            });
        });
    </script>
    <?php endif; ?>

    

</tr>
</table>
<?php endif; ?>
