<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<section class="block-subscribe grid_4 omega" style="width:400 !important;"> 
    <h3><?php echo $this->__('Newsletter') ?></h3>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="subs-block-content">
            <label for="newsletter"><?php echo $this->__('Sign Up for Our Newsletter:') ?></label>
			<div class="input-box">
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
				<input type="text" name="email" id="newsletter" value="<?php echo $this->__('Enter your email') ?>" onblur="if (this.value=='') this.value = '<?php echo $this->__('Enter your email') ?>'" onfocus="if (this.value=='<?php echo $this->__('Enter your email') ?>') this.value = ''" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                <div class="clear"></div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
</section>