<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&language=en"></script>
<?php $styleChange = Mage::helper('onestepcheckout')->getStyle(); ?>
<?php $background_color = Mage::helper('onestepcheckout')->getBackgroundColor($styleChange);?>

<?php if (!$styleChange || $styleChange == 'orange'): ?>
    <?php $styleUse = $this->getSkinUrl('images/onestepcheckout/style/orange/') ?>
<?php else: ?>
    <?php $styleUse = $this->getSkinUrl('images/onestepcheckout/style/' . $styleChange . '/') ?>
<?php endif; ?>
<?php $_helper = Mage::helper('onestepcheckout'); ?>
<style type="text/css">
    .one-step-checkout h3.step_1
    {
        background:url(<?php echo $styleUse; ?>onestepcheckout_step_1.png) center left no-repeat;
    }

    .one-step-checkout h3.step_2
    {
        background:url(<?php echo $styleUse; ?>onestepcheckout_step_2.png) center left no-repeat;
    }

    .one-step-checkout h3.step_3
    {
        background:url(<?php echo $styleUse; ?>onestepcheckout_step_3.png) center left no-repeat;
    }

    .one-step-checkout h3.step_4
    {
        background:url(<?php echo $styleUse; ?>onestepcheckout_step_4.png) center left no-repeat;
    }

    .one-step-checkout h3.step_5
    {
        background:url(<?php echo $styleUse; ?>onestepcheckout_step_5.png) center left no-repeat;
    }
    #review_step_header{
        background:url(<?php echo $styleUse; ?>review_step_header.png) center left no-repeat !important;
    }
    button.onestepcheckout-btn-checkout{
        background:<?php echo $background_color?> !important;      
        border: 0 none !important;
        color: #FFFFFF;        
        font-weight: bold;
        line-height: 42px !important;
        padding: 0 !important;
    }
    button.onestepcheckout-btn-checkout:hover{
        cursor: pointer;
    }
    button.onestepcheckout-btn-checkout span span{
        font-size:20px !important;
    }
    button#add_coupon_code_button {
        background:<?php echo $background_color?> !important;      
        border: 0 none !important;
        color: #FFFFFF;        
        font-weight: bold;       
        padding: 5px 10px !important;
    }
    button#add_coupon_code_button:hover{
        cursor: pointer;
    }
    button#remove_coupon_code_button {
        background:<?php echo $background_color?> !important;      
        border: 0 none !important;
        color: #FFFFFF;        
        font-weight: bold;       
        padding: 5px 10px !important;
    }
    button#remove_coupon_code_button:hover{
        cursor: pointer;
    }
    .ajax-loader1{
        background:url(<?php echo $styleUse; ?>loading-icon.gif) top left no-repeat !important;
    }
    .ajax-loader2{
        background:url(<?php echo $styleUse; ?>loading-icon.gif) top left no-repeat !important;
    }
    .ajax-loader3{
        background:url(<?php echo $styleUse; ?>loading-icon.gif) top left no-repeat !important;
    }
    button.place-order-loader span {
        background:none repeat scroll 0 0 #CCCCCC !important;
        border: 0 none;
        color: #FFFFFF;
        font: bold 15px/40px Arial,Helvetica,sans-serif;
        height: 40px;
        padding: 0 0 0 9px;
    }
	.data-table tr td:first-child img {
    display: none;
}
.data-table thead th:last-child {
    display: block;
}

</style>

<div id="ajaxcart-load-ajax" style="display:none;">
    <div id="load" class="ajaxcart-overlay">&nbsp;</div>
    <div id="ajaxcart-loading" class="ajaxcart-loading">
        <img alt="<?php echo $this->__('Loading') ?>..." src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" /><br />
        <?php echo $this->__('Loading') ?>...
    </div>
    <div id="form-paypal" style="display:none;" class="form-paypal"></div>
</div>

<ol class="one-step-checkout clearfix">
    <li>
        <h1 class="checkout_header"><?php echo $this->getCheckoutTitle(); ?></h1>
        <p style="font-size:18px;">
            <?php echo $this->configData['checkout_description'] ? $this->configData['checkout_description'] : 'Please fill in the fields below and click Place order to complete your purchase!'; ?>
        </p>
    </li>
    <?php if ($this->isShowLoginLink() && !$this->isCustomerLoggedIn()): ?>
        <li class="onestepcheckout-login-link">            
Already have an account?  <a href="https://lensexperts.com/customer/account/login/">Click here to login</a>            
<!-- <a href="javascript:void(0);"  id="onestepcheckout-login-link">
                <?php echo $this->configData['login_link_title'] ? $this->configData['login_link_title'] : $this->__('Already have an account?Click here to login') ?>
            </a> -->
        </li>
    <?php endif ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <li class="address-order">
        <form id="one-step-checkout-form" method="post" action="<?php echo $this->getCheckoutUrl(); ?>">
            <div class="address-information <?php if ($this->configData['page_layout'] == '3columns'): ?>address-info-3-columns<?php endif; ?>">
                <?php echo $this->getChildHtml('onestepcheckout.billing'); ?>				
                <?php echo $this->getChildHtml('onestepcheckout.shipping'); ?>
            </div>
            <?php if ($this->configData['page_layout'] == '3columns'): ?>
                <div class="onestepcheckout-shipping-payment-review" style="float: left; width: 66%;">
                <?php endif; ?>
                <?php if ($this->isVirtual() || !Mage::helper('onestepcheckout')->isHideShippingMethod() || $_helper->enabledDelivery()): ?>
                    <div class="order-information <?php if ($this->configData['page_layout'] == '3columns'): ?>order-info-3-columns<?php endif; ?>">
                        <ol>
                            <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod()): ?>
                                <li class="shipping-method">						
                                    <h3 style="float:left"  id="shipping_method_step_header" class="step_2">
                                        <?php echo $this->__('Shipping Method'); ?>
                                    </h3>
                                    <div class="ajax-loader3" id="ajax-shipping" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                                    <div class="clear"></div>
                                    
                                    <div class="onestepcheckout-shipping-method-section" id="onestepcheckout-shipping-method-section">
                                        <?php echo $this->getChildHtml('onestepcheckout.shipping_method'); ?>						
                                    </div>
                                    <div class="ajax-loader1" id="ajax-loader1" style="display:none;"></div>
                                    <div id="control_overlay_shipping" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>
                                </li>
                            <?php elseif (Mage::helper('onestepcheckout')->isHideShippingMethod()): ?>
                                <?php $_shippingMethod = $this->hasOnlyOneShippingMethod(); ?>
                                <span class="no-display">
                                    <input name="shipping_method" type="radio" value="<?php echo $_shippingMethod; ?>" id="s_method_<?php echo $_shippingMethod; ?>" checked="checked" />
                                </span>
                            <?php endif; ?>
                            <li class="delivery">
                                <?php if ($_helper->enabledDelivery()): ?>
                                    <h3 id="time_of_delivery_header" <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod()): ?> class="step_3" <?php else: ?> class="step_2"<?php endif ?>>
                                        <?php echo $this->__('Time Of Delivery'); ?>
                                    </h3>
                                    <div class="delivery_time_date">
                                        <label for="delivery_date" class="required " ><?php echo $this->__('Select a date') ?>: </label>
                                        <input readonly id="delivery_date" type="text" size="7" style="background: none repeat scroll 0 center rgba(0, 0, 0, 0); border: medium none; box-shadow: none; cursor: default; font-weight: bold;" value="<?php echo date('m.d.Y') ?>" name="delivery[onestepcheckout-date]" />
                                        <img src="<?php echo Mage::getBaseUrl('skin') ?>/adminhtml/default/default/images/grid-cal.gif" alt="dateinput" class="v-middle" id="delivery_date_trig" title="dateinput"  />
                                        <select name="delivery[onestepcheckout-time]" style="margin-left:6px;">
                                            <?php for ($i = 0; $i <= 23; $i++): ?>
                                                <option value="<?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>:00"><?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>:00</option>
                                            <?php endfor; ?>
                                        </select>
                                    </div>

                                    <link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar-win2k-1.css"  /> 

                                    <script type="text/javascript">
                                        //<![CDATA[
                                        enUS = {"m": {"wide": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "abbr": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]}}; // en_US locale reference
                                        Calendar._DN = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; // full day names
                                        Calendar._SDN = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]; // short day names
                                        Calendar._FD = 0; // First day of the week. "0" means display Sunday first, "1" means display Monday first, etc.
                                        Calendar._MN = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; // full month names
                                        Calendar._SMN = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; // short month names
                                        Calendar._am = "AM"; // am/pm
                                        Calendar._pm = "PM";

                                        // tooltips
                                        Calendar._TT = {};
                                        Calendar._TT["INFO"] = "About the calendar";

                                        Calendar._TT["ABOUT"] =
                                                "DHTML Date/Time Selector\n" +
                                                "(c) dynarch.com 2002-2005 / Author: Mihai Bazon\n" +
                                                "For latest version visit: http://www.dynarch.com/projects/calendar/\n" +
                                                "Distributed under GNU LGPL. See http://gnu.org/licenses/lgpl.html for details." +
                                                "\n\n" +
                                                "Date selection:\n" +
                                                "- Use the \xab, \xbb buttons to select year\n" +
                                                "- Use the " + String.fromCharCode(0x2039) + ", " + String.fromCharCode(0x203a) + " buttons to select month\n" +
                                                "- Hold mouse button on any of the above buttons for faster selection.";
                                        Calendar._TT["ABOUT_TIME"] = "\n\n" +
                                                "Time selection:\n" +
                                                "- Click on any of the time parts to increase it\n" +
                                                "- or Shift-click to decrease it\n" +
                                                "- or click and drag for faster selection.";

                                        Calendar._TT["PREV_YEAR"] = "Prev. year (hold for menu)";
                                        Calendar._TT["PREV_MONTH"] = "Prev. month (hold for menu)";
                                        Calendar._TT["GO_TODAY"] = "Go Today";
                                        Calendar._TT["NEXT_MONTH"] = "Next month (hold for menu)";
                                        Calendar._TT["NEXT_YEAR"] = "Next year (hold for menu)";
                                        Calendar._TT["SEL_DATE"] = "Select date";
                                        Calendar._TT["DRAG_TO_MOVE"] = "Drag to move";
                                        Calendar._TT["PART_TODAY"] = ' (' + "Today" + ')';

                                        // the following is to inform that "%s" is to be the first day of week
                                        Calendar._TT["DAY_FIRST"] = "Display %s first";

                                        // This may be locale-dependent. It specifies the week-end days, as an array
                                        // of comma-separated numbers. The numbers are from 0 to 6: 0 means Sunday, 1
                                        // means Monday, etc.
                                        Calendar._TT["WEEKEND"] = "0,6";

                                        Calendar._TT["CLOSE"] = "Close";
                                        Calendar._TT["TODAY"] = "Today";
                                        Calendar._TT["TIME_PART"] = "(Shift-)Click or drag to change value";

                                        // date formats
                                        Calendar._TT["DEF_DATE_FORMAT"] = "%b %e, %Y";
                                        Calendar._TT["TT_DATE_FORMAT"] = "%B %e, %Y";

                                        Calendar._TT["WK"] = "Week";
                                        Calendar._TT["TIME"] = "Time:";

                                        CalendarDateObject._LOCAL_TIMZEONE_OFFSET_SECONDS = -28800;


                                        Calendar.setup({
                                            inputField: "delivery_date",
                                            ifFormat: "%m.%d.%Y",
                                            showsTime: false,
                                            button: "delivery_date_trig",
                                            electric: false,
                                            singleClick: true,
                                             disableFunc : function(date) {
                                                var today = new Date();

                                               if(date.getFullYear() < today.getFullYear()){
                                                   return true;
                                               }else if(date.getMonth() < today.getMonth() && date.getFullYear() <= today.getFullYear()) {
                                                   return true;
                                               }else if(date.getDate() < today.getDate() && date.getMonth() <= today.getMonth() && date.getFullYear() <= today.getFullYear()) {
                                                   return true;
                                               }
                                               if(today.getDate() == date.getDate()){
                                                   return false;
                                               }
                         
                                            }
                                        });
                                        //]]>
                                    </script>
                                <?php endif; ?>
                            </li>


                        </ol>
                    </div>
                <?php endif; ?>
                <?php if ($this->configData['page_layout'] == '2columns'): ?>    
                    <div class="order-information <?php if ($this->configData['page_layout'] == '2columns'): ?>order-info-2-columns<?php endif; ?>">
                        <ol>
                            <?php if ($this->configData['page_layout'] == '2columns'): ?>
                                
                                <li class="payment-method">			
                                    <h3 style="float:left" id="payment_method_step_header" <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod() && $_helper->enabledDelivery()): ?> class="step_4"<?php elseif (!$this->isVirtual() && Mage::helper('onestepcheckout')->isHideShippingMethod() && !$_helper->enabledDelivery()): ?>class="step_2"<?php else: ?> class="step_3"<?php endif; ?>>
                                        <?php echo $this->__('Payment Method'); ?>
                                    </h3>	
                                    <div class="ajax-loader3" id="ajax-payment" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                                    <div class="clear"></div>
                                
                                    <?php echo $this->getChildHtml('onestepcheckout.payment_method'); ?>					 <div id="control_overlay_payment" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>							
                                </li>
                                <li class="order-review-info">	
                                <h3 style="float:left" id="review_step_header" <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod()): ?> class="step_4" <?php else: ?> class="step_3"<?php endif ?>>
                                    <?php echo $this->__('Order Review'); ?> 
                                </h3>	
                                 <div class="ajax-loader3" id="ajax-review" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                               <div class="clear"></div>
                                <div class="ajax-loader3" id="ajax-review" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                                <?php echo $this->getChildHtml('onestepcheckout.review') ?>                                                 <div id="control_overlay_review" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>		
                                <div class="ajax-loader3" id="ajax-loader3"  style="display:none;"></div>
                                </li>
                            <?php endif; ?>
                        </ol>
                    </div>
                <?php endif; ?>  
                <?php if ($this->configData['page_layout'] == '3columns'): ?>
                    <div class="order-review-section">
                        <ol>
                            <li class="payment-method">						
                                <h3 style="float:left" id="payment_method_step_header" <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod() && $_helper->enabledDelivery()): ?> class="step_4"<?php elseif (!$this->isVirtual() && Mage::helper('onestepcheckout')->isHideShippingMethod() && !$_helper->enabledDelivery()): ?>class="step_2"<?php else: ?> class="step_3"<?php endif; ?>>
                                    <?php echo $this->__('Payment Method'); ?>
                                </h3>	
                                <div class="ajax-loader3" id="ajax-payment" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                                    <div class="clear"></div>
                                    
                                <?php echo $this->getChildHtml('onestepcheckout.payment_method'); ?>				<div id="control_overlay_payment" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>							
                            </li>

                        </ol>
                    </div>
                <?php endif; ?>
                <?php if ($this->configData['page_layout'] == '3columns'): ?>
                    <div class="onestepcheckout-review-info" style="float: left; width: 65%; /*padding-left: 15px;*/ width:100%">
                    <ol>
                        <li class="order-review-info">	                           
                            <h3 style="float:left" id="review_step_header" <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod()): ?> class="step_4" <?php else: ?> class="step_3"<?php endif ?>>
                                <?php echo $this->__('Order Review'); ?>
                            </h3>			
                             <div class="ajax-loader3" id="ajax-review" style="display:none; float: left; margin-top: 14px; margin-left: 10px;"></div>
                               <div class="clear"></div>
                               <!-- start new code -->
                               <form action="" id="my-form"></form>
                                <div class="order-attachments" id="checkout-review-submit">
                                    <?php $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
                                    <?php $customerCanUploadAttachment = Mage::helper('redpandaplus_orderattachments')->customerCanUploadAttachment($customer); ?>
                                    <?php $canAddAttachments = Mage::helper('redpandaplus_orderattachments')->getCanAddAttachments(); ?>
                                    <?php if ($customerCanUploadAttachment && $canAddAttachments): ?>
                                    <?php echo $this->getLayout()->createBlock('redpandaplus_orderattachments/attachments', 'checkout.onepage.attachments')->setTemplate('redpandaplus_orderattachments/checkout/onepage/attachments.phtml')->toHtml(); ?>
                                    <?php endif; ?>
                                </div>
                                <!-- end new code -->
                            <?php echo $this->getChildHtml('onestepcheckout.review') ?>						
                            <div class="ajax-loader3" id="ajax-loader3"  style="display:none;"></div>
                            <div id="control_overlay_review" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>
                            
                        </li>                    
                    </ol>
                </div>
                </div>
                
            <?php endif; ?>
            <?php if (!$_helper->isCustomerLoggedIn() && $_helper->showLoginLink()): ?>
                <?php echo $this->getChildHtml('login-popup'); ?>
            <?php endif; ?>			
        </form>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('authorize-seal-block')->toHtml(); ?>
        
    </li>
</ol>
<script type="text/javascript">

//<![CDATA[	
    var preloadImage = '<?php echo $this->getSkinUrl('images/onestepcheckout/preload.gif') ?>';
    var shipping_method_url = '<?php echo $this->getUrl('onestepcheckout/index/save_shipping', array('_secure' => true)); ?>';
    var enable_update_payment = <?php echo $this->configData['update_payment'] ? 'true' : 'false'; ?>;
    var login_url = '<?php echo $this->getUrl('onestepcheckout/index/show_login', array('_secure' => true)); ?>';
    var show_login_link = <?php echo $this->configData['show_login_link'] ? 'true' : 'false'; ?>;
    var show_term_condition_url = '<?php echo $this->getUrl('onestepcheckout/index/show_term_condition', array('_secure' => true)); ?>';
    var form = $('one-step-checkout-form');
    var reload_payment = <?php echo $this->configData['reload_payment']; ?>;

    function showloginbox() {
        var url = '<?php echo $this->getUrl('onestepcheckout/index/show_login', array('_secure' => true)); ?>';
        showLogin(url);
    }

    function showforgotpwd() {
        var url = '<?php echo $this->getUrl('onestepcheckout/index/show_password', array('_secure' => true)); ?>';
        showpwdbox(url);
    }

    function showPasswordForm() {
        $('onestepcheckout-login').hide();
        $('onestepcheckout-forgot-password').show();
    }

    function showloginform() {
        $('onestepcheckout-forgot-password').hide();
        $('onestepcheckout-login').show();
    }

    function submitLoginForm() {
        var login_validator = new Validation('onestepcheckout-login-form');
        if (login_validator.validate()) {
            showLoginLoading();
            var url = '<?php echo $this->getUrl('onestepcheckout/index/loginPost', array('_secure' => true)) ?>';
            var email = $('osclogin:email_address').value;
            var password = $('osclogin:password').value;
            var parameters = {email: email, password: password};
            var loginRequest = new Ajax.Request(url, {
                parameters: parameters,
                onComplete: loginProcess.bindAsEventListener(this),
                onFailure: ""
            });
        }
    }

    function retrievePassword() {
        var passwordValidator = new Validation('osc-forgotpassword-form');
        if (passwordValidator.validate()) {
            showPassLoading();
            var url = '<?php echo $this->getUrl('onestepcheckout/index/retrievePassword', array('_secure' => true)) ?>';
            var email = $('forgotpassword_email_address').value;
            var parameters = {email: email};
            var loginRequest = new Ajax.Request(url, {
                parameters: parameters,
                onComplete: passwordProcess.bindAsEventListener(this),
                onFailure: ""
            });
        }
    }


<?php $storeId = Mage::app()->getStore(true)->getStoreId() ?>
    var save_address_url = '<?php echo $this->getUrl('onestepcheckout/index/saveAddressOnestepcheckout', array('_secure' => true)) ?>';
    var update_address_shipping = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_shipping', $storeId) ?>';
    var update_address_payment = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_payment', $storeId) ?>';
    var update_address_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_review', $storeId) ?>';
    var update_shipping_payment = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/shipping_payment', $storeId) ?>';
    var update_shipping_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/shipping_review', $storeId) ?>';
    var update_payment_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/payment_review', $storeId) ?>';

<?php if (Mage::getStoreConfig('onestepcheckout/ajax_update/enable_ajax', $storeId)): ?>

        //save address when change country field
    <?php if ($this->isAjaxBillingField('country')): ?>
            //save billing when country is changed
            if ($('billing:country_id'))
                Event.observe('billing:country_id', 'change', function() {
                    //check empty fields
                    var empty = checkEmptyFields($('billing-new-address-form'));
                    if (empty == false || reload_payment == 2)
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    //Thinhnd
        <?php if (Mage::getStoreConfig('onestepcheckout/field_require_management/region')): ?>
                        if ($('billing:region').style.display != 'none')
                        {
                            $('billing:region').addClassName('required-entry');
                            $$('span.required')[8].style.display = '';
                        }
        <?php endif; ?>
                    //end
                });
        <?php if ($this->isShowShippingAddress()): ?>
                if ($('shipping:country_id'))
                    Event.observe('shipping:country_id', 'change', function() {
                        //check empty fields
                        var empty = checkEmptyFields($('shipping-new-address-form'));
                        if (empty == false || reload_payment == 2)
                            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    });
        <?php endif; ?>
    <?php endif; ?>

        //save address when change state/region field
    <?php if ($this->isAjaxBillingField('state/region')): ?>
            //save billing when state / region is changed
            if ($('billing:region_id'))
                Event.observe('billing:region_id', 'change', function() {
                    //check empty fields
                    var empty = checkEmptyFields($('billing-new-address-form'));
                    if (empty == false || reload_payment == 2)
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                });
            if ($('billing:region'))
                Event.observe('billing:region', 'change', function() {
                    //check empty fields
                    var empty = checkEmptyFields($('billing-new-address-form'));
                    if (empty == false || reload_payment == 2)
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                });
        <?php if ($this->isShowShippingAddress()): ?>
                if ($('shipping:region_id'))
                    Event.observe('shipping:region_id', 'change', function() {
                        //check empty fields
                        var empty = checkEmptyFields($('shipping-new-address-form'));
                        if (empty == false || reload_payment == 2)
                            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    });
                if ($('shipping:region'))
                    Event.observe('shipping:region', 'change', function() {
                        //check empty fields
                        var empty = checkEmptyFields($('shipping-new-address-form'));
                        if (empty == false || reload_payment == 2)
                            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    });
        <?php endif; ?>
    <?php endif; ?>

        //save address when change postcode field
    <?php if ($this->isAjaxBillingField('postcode')): ?>
            //save billing when postcode is changed
            if ($('billing:postcode'))
                Event.observe('billing:postcode', 'change', function() {
                    //check empty fields
                    var empty = checkEmptyFields($('billing-new-address-form'));
                    if (empty == false || reload_payment == 2)
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                });
        <?php if ($this->isShowShippingAddress()): ?>
                if ($('shipping:postcode'))
                    Event.observe('shipping:postcode', 'change', function() {
                        //check empty fields
                        var empty = checkEmptyFields($('shipping-new-address-form'));
                        if (empty == false || reload_payment == 2)
                            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    });
        <?php endif; ?>
    <?php endif; ?>

        //save address when change city field
    <?php if ($this->isAjaxBillingField('city')): ?>
            //save billing when city is changed
            if ($('billing:city'))
                Event.observe('billing:city', 'change', function() {
                    //check empty fields
                    var empty = checkEmptyFields($('billing-new-address-form'));
                    if (empty == false || reload_payment == 2)
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                });
        <?php if ($this->isShowShippingAddress()): ?>
                if ($('shipping:city'))
                    Event.observe('shipping:city', 'change', function() {
                        //check empty fields
                        var empty = checkEmptyFields($('shipping-new-address-form'));
                        if (empty == false || reload_payment == 2)
                            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    });
        <?php endif; ?>
    <?php endif; ?>

        //save address when change telephone field
        if ($('billing:telephone'))
            Event.observe('billing:telephone', 'change', function() {
                //check empty fields
                var empty = checkEmptyFields($('billing-new-address-form'));
                if (empty == false)
                    save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
            });
        if ($('shipping:telephone'))
            Event.observe('shipping:telephone', 'change', function() {
                //check empty fields
                var empty = checkEmptyFields($('shipping-new-address-form'));
                if (empty == false)
                    save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
            });
<?php endif ?>

    //document.observe('dom:loaded', function() {
    //fix for IE9
    Event.observe(window, 'load', function() {
        if($('create_account_checkbox_id')){
            if ($('create_account_checkbox_id').checked)
                $('password_section_id').show();
            else
                $('password_section_id').hide();
        }
//        var payment_m = $RF(form, 'payment[method]');
//        alert(payment_m);
        if ($RF(form, 'payment[method]') != null) {
            var payment_method = $RF(form, 'payment[method]');
            //alert('p' + payment_method);
            if ($('container_payment_method_' + payment_method)) {
                $('container_payment_method_' + payment_method).show();
            }
            if ($('payment_form_' + payment_method)) {
                $('payment_form_' + payment_method).show();
            }
        }
    });

    function disable_payment() {
        var options = document.getElementsByName('payment[method]');
        for (var i = 0; i < options.length; i++) {
            if (!$(options[i].id).checked) {
                var container = options[i].id.replace('p_method', 'container_payment_method');
                if ($(container)) {
                    $(container).innerHTML = '';
                }
            }
        }
    }

    function checkpayment() {
        var options = document.getElementsByName('payment[method]');
        var pay = true;
        for (var i = 0; i < options.length; i++) {
            if ($(options[i].id).checked) {
                pay = false;
                break;
            }
        }
        if (pay == true) {
            return false;
        }
        return true;
    }
    function oscPlaceOrder(element) {
        var validator = new Validation('one-step-checkout-form');
        var form = $('one-step-checkout-form');
        if (validator.validate()) {
            if (($('p_method_hosted_pro') && $('p_method_hosted_pro').checked) || ($('p_method_payflow_advanced') && $('p_method_payflow_advanced').checked)) {
                $('onestepcheckout-place-order-loading').show();
                $('onestepcheckout-button-place-order').removeClassName('onestepcheckout-btn-checkout');
                $('onestepcheckout-button-place-order').addClassName('place-order-loader');
                $('ajaxcart-load-ajax').show();
                checkAjax('<?php echo $this->getUrl('onestepcheckout/index/saveOrderPro', array('_secure' => true)); ?>');
            } else {
                if (checkpayment()) {
                    element.disabled = true;
                    var already_placing_order = true;
                    disable_payment();
                    $('onestepcheckout-place-order-loading').show();
                    $('onestepcheckout-button-place-order').removeClassName('onestepcheckout-btn-checkout');
                    $('onestepcheckout-button-place-order').addClassName('place-order-loader');
                    //$('one-step-checkout-form').submit();
                    var options = document.getElementsByName('payment[method]');
                    for (var i = 0; i < options.length; i++) {
                        if ($(options[i].id).checked) {
                            if (options[i].id.indexOf("tco") != -1) {
                                var params = Form.serialize('one-step-checkout-form');
                                var request = new Ajax.Request(
                                        '<?php echo $this->getCheckoutUrl() . 'isAjax/tco'; ?>',
                                        {
                                            method: 'post',
                                            onComplete: this.onComplete,
                                            onSuccess: function(transport) {
                                                if (transport.status == 200) {
                                                    if (transport.responseText.isJSON) {
                                                        var response = JSON.parse(transport.responseText);
                                                        $('onestepcheckout-place-order-loading').style.display = 'none';
                                                        $('checkout-' + response.update_section.name + '-load').update(response.update_section.html);
                                                        $('onestepcheckout-button-place-order').removeAttribute('onclick');
                                                        $('onestepcheckout-button-place-order').observe('click', formsubmit());
                                                        $('onestepcheckout-button-place-order').disabled = false;
                                                    }
                                                }
                                            },
                                            onFailure: '', //checkout.ajaxFailure.bind(checkout),
                                            parameters: params
                                        });
                            } else if (options[i].id.indexOf("wirecard") != -1) {
                                var params = Form.serialize('one-step-checkout-form');
                                var request = new Ajax.Request(
                                        '<?php echo $this->getCheckoutUrl() . 'isAjax/wirecard'; ?>',
                                        {
                                            method: 'post',
                                            onComplete: this.onComplete,
                                            onSuccess: function(transport) {
                                                var response = JSON.parse(transport.responseText);
                                                if (response.url) {
                                                    window.location.href = response.url;
                                                } else {
                                                    var payment_method = $RF(form, 'payment[method]');
                                                    var wireparams = {'paymentMethod': payment_method};
                                                    url = '<?php echo Mage::getBaseUrl() . 'wirecard_checkout_page/processing/wirecard_checkout_pagecheckout/'; ?>';
                                                    var wirerequest = new Ajax.Request(
                                                            qmoreIsIframe,
                                                            {
                                                                method: 'get',
                                                                parameters: wireparams,
                                                                onSuccess: function(innerTransport) {
                                                                    if (innerTransport && innerTransport.responseText) {
                                                                        try {
                                                                            var innerResponse = eval('(' + innerTransport.responseText + ')');
                                                                        }
                                                                        catch (e) {
                                                                            innerResponse = {};
                                                                        }
                                                                        if (innerResponse.isIframe)
                                                                        {
                                                                            toggleQMoreIFrame();
                                                                            $('qmore-iframe').src = url;
                                                                        } else {
                                                                            window.location.href = url;
                                                                        }
                                                                    }
                                                                },
                                                                onFailure: ''
                                                            });
                                                }
                                            },
                                            onFailure: '', //checkout.ajaxFailure.bind(checkout),
                                            parameters: params
                                        });
                            } else {
                                $('one-step-checkout-form').submit();
                            }
                            break;
                        }
                    }
                }
            }
        }
    }
    function checkAjax(url) {
        var form = $('one-step-checkout-form');
        var payment_method = $RF(form, 'payment[method]');
        var shipping_method = $RF(form, 'shipping_method');
        var parameters = {
            payment: payment_method,
            shipping_method: shipping_method
        }
        get_billing_data(parameters);
        get_shipping_data(parameters);

        if ($('giftmessage-type') && $('giftmessage-type').value != '') {
            parameters[$('giftmessage-type').name] = $('giftmessage-type').value;
        }
        if ($('create_account_checkbox_id') && $('create_account_checkbox_id').checked) {
            parameters['create_account_checkbox'] = 1;
        }
        if ($('gift-message-whole-from') && $('gift-message-whole-from').value != '') {
            parameters[$('gift-message-whole-from').name] = $('gift-message-whole-from').value;
        }
        if ($('gift-message-whole-to') && $('gift-message-whole-to').value != '') {
            parameters[$('gift-message-whole-to').name] = $('gift-message-whole-to').value;
        }
        if ($('gift-message-whole-message') && $('gift-message-whole-message').value != '') {
            parameters[$('gift-message-whole-message').name] = $('gift-message-whole-message').value;
        }
        if ($('billing-address-select') && $('billing-address-select').value != '') {
            parameters[$('billing-address-select').name] = $('billing-address-select').value;
        }
        if ($('shipping-address-select') && $('shipping-address-select').value != '') {
            parameters[$('shipping-address-select').name] = $('shipping-address-select').value;
        }

        new Ajax.Request(url, {
            method: 'post',
            evalJS: 'force',
            onSuccess: function(transport) {
                // alert(JSON.parse(transport.responseText).url);
                if (JSON.parse(transport.responseText).url == 'null' || JSON.parse(transport.responseText).url == null) {
                    $('ajaxcart-loading').style.display = 'block';
                    $('ajaxcart-loading').style.top = '15%';
                    $('ajaxcart-loading').style.left = '40%';
                    $('ajaxcart-loading').style.width = '551px';
                    $('ajaxcart-loading').style.height = '400px';
                    $('ajaxcart-loading').style.overflow = 'hidden';
                    $('ajaxcart-loading').style.padding = '5px';
                    $('ajaxcart-loading').innerHTML = JSON.parse(transport.responseText).html;
                    $('iframe-warning').style.textAlign = 'left';
                }
                else
                {
                    window.location.href = JSON.parse(transport.responseText).url;
                }
            },
            onFailure: function(transport) {
            },
            parameters: parameters
        });
    }

<?php //if ($this->isCustomerLoggedIn()):                 ?>
    //var save_address_url = '<?php echo $this->getUrl('onestepcheckout/index/saveAddressOnestepcheckout', array('_secure' => true)) ?>';
    save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
<?php //endif;                 ?>

//]]>
</script>

<div id="onestepcheckout_popup_overlay" style="display: none;">&nbsp;</div>
<div id="loading-process" style="display: none;"></div>
<?php echo $this->getChildHtml('tco_iframe'); ?>

<!-- Terms and conditions -->
<?php $_helper = Mage::helper('onestepcheckout'); ?>
<?php $width = $_helper->getTermPopupWidth() ? $_helper->getTermPopupWidth() : 482; ?>
<?php $height = $_helper->getTermPopupHeight() ? $_helper->getTermPopupHeight() : 530; ?>

<?php if ($_helper->enableTermsAndConditions()): ?>
    <?php if (!$_helper->enableCustomSize()): ?>
        <div id="onestepcheckout-toc-popup" style="display:none;">
            <div class="onestepcheckout-popup-wrapper" style="height: 515px !important;">
                <div class="onestepcheckout-popup-wrapper-inner">
                    <h1><?php echo $_helper->getTermTitle(); ?></h1>

                    <div class="onestepcheckout-toc-terms" style="height: 446px;">
                        <?php echo $_helper->getTermsConditionsHtml(); ?>
                    </div>

                    <p class="close"><a href="javascript:void(0);"><?php echo $this->__('Close'); ?></a></p>
                </div>
            </div>
            <div class="onestepcheckout-popup-footer">&nbsp;</div>
        </div>
    <?php else: ?>
        <div id="onestepcheckout-toc-popup" style="display:none; width:<?php echo $width ?>px; height:<?php echo $height ?>px;">
            <div class="onestepcheckout-popup-wrapper2" style="width:<?php echo $width ?>px; height:<?php echo $height ?>px;">
                <div class="onestepcheckout-popup-wrapper-inner2">
                    <h1><?php echo $_helper->getTermTitle(); ?></h1>

                    <div class="onestepcheckout-toc-terms" style="<?php
                    if ($height) {
                        echo 'height: ' . ((int) $height - 80) . 'px;';
                    } else {
                        echo 'height: 446px;';
                    }
                    ?>">
                             <?php echo $_helper->getTermsConditionsHtml(); ?>
                    </div>

                    <p class="close"><a href="javascript:void(0);"><?php echo $this->__('Close'); ?></a></p>
                </div>
            </div>
            <div class="onestepcheckout-popup-footer2">&nbsp;</div>
        </div>
    <?php endif; ?>
    <div style="margin-top:10px;">
        <a rel="nofollow" target="_blank" href="http://www.magestore.com">
            <img src="<?php echo Mage::getBaseUrl('skin') ?>frontend/default/default/css/magestore/trademark.png">
        </a>
    </div>	
    <script>
        //<![CDATA[
        Event.observe(window, 'load', function() {

            var termsPopup = new Control.Modal($('onestepcheckout-toc-popup'), {
                overlayOpacity: 0.65,
                fade: true,
                fadeDuration: 0.3
            });

            $('onestepcheckout-toc-link').observe('click', function(e) {
                e.preventDefault();
                termsPopup.open();
                var controlOverlay = $('control_overlay');
                controlOverlay.style.opacity = 0.65;
            });

            $$('div#onestepcheckout-toc-popup p.close a').invoke('observe', 'click', function(e) {
                e.preventDefault();
                termsPopup.close();
            });

        });
        //]]>
    </script>
<?php endif; ?>
<?php if (Mage::getStoreConfig('onestepcheckout/general/suggest_address', Mage::app()->getStore()->getStoreId())): ?>
    <script type="text/javascript">
        function fillAddress(type, street, city, region_id, region, country, postal_code, sublocality) {
            if (street) {
                document.getElementById(type + ':street1').value = street;
            } else {
                document.getElementById(type + ':street1').value = '';
            }
            if (sublocality)
                document.getElementById(type + ':street2').value = sublocality;
            if (city)
                document.getElementById(type + ':city').value = city;
            if (country)
                document.getElementById(type + ':country_id').value = country;
            if (type == 'billing')
                billingRegionUpdater.update();
            if (type == 'shipping')
                shippingRegionUpdater.update();

            var params = {country: country, region_id: region_id};
            var request = new Ajax.Request(
                    '<?php echo $this->getUrl('onestepcheckout/index/getreionid'); ?>',
                    {
                        method: 'post',
                        onSuccess: function(transport) {
                            if (transport.status == 200) {
                                var id = JSON.parse(transport.responseText).id;
                                if (region_id)
                                    document.getElementById(type + ':region_id').value = id;

                                if (street) {
                                    document.getElementById(type + ':street1').value = street;
                                } else {
                                    document.getElementById(type + ':street1').value = '';
                                }
                            }
                        },
                        onFailure: '',
                        parameters: params
                    });

            if (region)
                document.getElementById(type + ':region').value = region;
            if (postal_code)
                document.getElementById(type + ':postcode').value = postal_code;

            // Event.observe(window, 'click', function(event) {
                // if (street) {
                    // document.getElementById(type + ':street1').value = street;
                // } else {
                    // document.getElementById(type + ':street1').value = '';
                // }
            // });
            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);

        }
    </script>
<?php endif; ?>
<script type="text/javascript">
    function check_valid_email(transport) {
        var response = getResponseText(transport);
        var message = response.message;
        if (message == 'valid') {
            $('email-error-message').update('');
            $('valid_email_address_image').show();
        }
        else if (message == 'invalid') {
            $('valid_email_address_image').hide();
            $('email-error-message').update('<?php echo $this->__('<p>Invalid Email Address</p>') ?>');
        }
        else if (message == 'exists') {
            $('valid_email_address_image').hide();
            if (show_login_link)
                $('email-error-message').update('<?php echo $this->__('<p>Email address already registered. Please <a href="" onclick="login_popup.show(); return false;">log in</a> or use another email address.</p>') ?>');
            else {
                $('email-error-message').update('<?php echo $this->__('<p>Email address already registered. Please use another email address.</p>') ?>');
            }
        }
    }

</script>

