<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<?php
    $customlogo = MAGE::helper('ThemeOptions')->getThemeOptions('customlogo');
    $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
?>
<header id="header">
	<div class="grid_12">
		<div class="header-top-block">

			<?php if($this->getChildHtml('store_language')): ?>
				<div class="lang-box-divider">
			<?php endif; ?>
				<?php echo $this->getChildHtml('store_language') ?>
			<?php if($this->getChildHtml('store_language')): ?>
				</div>
			<?php endif; ?>
			<?php echo $this->getChildHtml('currency') ?>
			<?php
				$customerName = Mage::helper('customer')->getCustomer()->getData();
				if ($this->helper('customer')->isLoggedIn()):
					echo '<div class="dropdown-links"><span class="dropdown-links-title"><span class="link-marker"></span>' . $customerName['firstname'] . '</span>';
				endif;
				echo $this->getChildHtml('topLinks');
				if ($this->helper('customer')->isLoggedIn()):
					echo '</div>';
				endif; 
			?>
			<?php // Predefined Static Block
			if ($static_html = $this->getChildHtml('social_links')):
				echo $static_html;
			endif; ?>
			<p class="welcome-msg"><?php echo $this->getWelcome() ?><?php echo $this->getAdditionalHtml() ?></p>
			
<div style="">


    <?php if ($this->helper('customer')->isLoggedIn()):?>
    <div style="float:left"><a href="<?php echo $this->getUrl('customer/prescription') ?>" title="Send Prescription" class="logo"><?php echo $this->__('Send Prescription'); ?></a>
        </div>
<? else: ?>
<div style="float:left"><a href="https://lensexperts.com/customer/account/login/" title="Send Prescription" class="logo"><?php echo $this->__('Send Prescription'); ?></a></div>
    <?php endif;?>



    <div style="float:right;"><?php echo $this->getChildHtml('call') ?></div></div>
<div class="clear"></div>
		</div>
		<div class="header-main-block">
			<?php if ($customlogo['logo_status'] == 0): ?>
				<h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" <?php echo MAGE::helper('ThemeOptions/Retina')->getRetinaData('logo'); ?> alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
				<?php else:?>
				<h1 class="logo"><strong><?php echo $customlogo['logo_alt']; ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $customlogo['logo_alt']; ?>" class="logo"><img src="<?php echo $mediaurl.$customlogo['logo']; ?>" <?php echo MAGE::helper('ThemeOptions/Retina')->getRetinaData('logo_custom'); ?> alt="<?php echo $customlogo['logo_alt']; ?>" /></a></h1>



			<?php endif; ?>
			<?php echo $this->getChildHtml('cart_sidebar') ?>
			<?php // Predefined Static Block
			if ($static_html = $this->getChildHtml('header_text_box')):
				echo '<div class="header-text-box">'.$static_html.'</div>';
			endif; ?>


			<div class="clear"></div>


		</div>
		<div class="menu-block-container">
			<div class="menu-block">
				<?php echo $this->getChildHtml('topMenu') ?>
				<div class="menu-button"></div>
				<?php echo $this->getChildHtml('topSearch') ?>
				<div class="clear"></div>
			</div>
		</div>
		<?php echo $this->getChildHtml('header_slider_container') ?>
		<?php echo $this->getChildHtml('topContainer'); ?>
	</div>
	<div class="clear"></div>
</header>