<?php $_block = $this; ?>
<?php $orderAttachments = $this->getCustomerAttachments(); ?>
<div id="messages"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div id="<?php echo $_block->getHtmlId() ?>" >
    <form id="file_upload_form" method="post" enctype="multipart/form-data" action="<?php echo $this->getSubmitUrl(); ?>">     
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Manage Prescription/Attachments'); ?></h4>
        <div class="grid">        
            <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
            <table cellspacing="0" class="data border" id="<?php echo $_block->getHtmlId() ?>_grid" width="100%">
                <thead>
                    <tr class="headings">
                        <th><?php echo Mage::helper('catalog')->__('Created/Updated On') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Show on customer account') ?></th>
                        <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                    </tr>
                </thead>
                <tbody id="<?php echo $_block->getHtmlId() ?>_list">
                    
                    <tr id="row-attachment-template-edit" class="template no-display">
                            <td class="cell-updated">#updated_on#</td>
                            <td class="cell-file">
                            <?php echo $this->getFileName();?>
                                <input type="file" class="required-entry input-text" id="<?php echo $this->getFieldId() ?>_#id#_file" name="<?php echo $this->getFieldName() ?>_#id#[file]" value="" /><br />
                                <a href="#url#" target="_blank">#file_name#</a>
                            </td>
                            <td class="cell-comment"><textarea class="input-text" rows="5" cols="35" name="<?php echo $this->getFieldName() ?>_#id#[comment]">#comment#</textarea></td>
                            <td class="cell-show"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_show" name="<?php echo $this->getFieldName() ?>_#id#[show]" value="1" /></td>
                            <td class="cell-remove a-center last"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_is_delete" name="<?php echo $this->getFieldName() ?>_#id#[is_delete]" value="1" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="last" style="padding:8px">
                            <button id="add-attachment" type="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                        </td>
                    </tr>
                </tfoot>
            </table>        
        </div>
    </form>
    <iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;"></iframe>
</div>
<div class="f-right">
    <?php echo $this->getChildHtml('submit_button') ?>
</div>
<script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var templateContentReadonly = $('row-attachment-template-edit').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    templateTextReadonly : templateContentReadonly,
    numAttachments: 0,
    add : function(data) {
        this.template = new Template(this.templateTextEdit, this.templateSyntax);

        var currentDateTime = new Date();
        var month = 1 + currentDateTime.getMonth();
        month = (month < 10) ? '0' + month : month;
        var date = currentDateTime.getDate() < 10 ? '0' + currentDateTime.getDate(): currentDateTime.getDate();
        var dateFormated = currentDateTime.getFullYear() + '-' + month + '-' + date;
        dateFormated += ' ' + currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = dateFormated;
            data.show = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});

        this.numAttachments++;


        this.updateHtmlElements(data);
        this.bindRemoveButtons();
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;
        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
    },
    updateHtmlElements: function(data) {
        //set selected product
        if (data.product && data.product > 0) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }

        //set show
        if (data.show == 1) {
            $('<?php echo $this->getFieldId() ?>_'+data.id+'_show').checked = true;
        } else {
            $('<?php echo $this->getFieldId() ?>_'+data.id+'_show').checked = false;
        }
    }
}

orderAttachment.bindRemoveButtons();
Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));




Event.observe('save-attachments-btn','click',function(eventObj) {
  Event.stop(eventObj);

  $('file_upload_form').target = 'upload_target';
  $('file_upload_form').submit();

  try {
    $('upload_target').observe('load', function (){
       // alert('hey');
      submitAndReloadArea($('<?php echo $this->getHtmlId(); ?>').parentNode, 'fileAttachments');
       //alert('hey2');
    });
  } catch(e) {}

}.bindAsEventListener(),false);



<?php foreach ($orderAttachments as $orderAttachment): ?>
    orderAttachment.add(<?php echo Mage::helper('core')->jsonEncode($orderAttachment) ?>);
<?php endforeach; ?>
</script>
