<?php if ($this->showAttachmentBlock()): ?>
<?php $_attachments = $this->getVisibleOrderAttachments(); ?>

<div class="order-additional order-attachments">
    <h2 class="sub-title"><?php echo $this->__('Your Order Attachments') ?> -
    <span><a href="<?php echo $this->getManageAttachmentsUrl(); ?>"><?php echo $this->__('Manage Attachments'); ?></span></a>
    </h2>
    <?php if (count($_attachments)): ?>
    <ul class="note-list">
    <?php foreach ($_attachments as $_attachment): ?>
        <li>
            <strong><?php echo $this->formatDate($_attachment['updated_on'], 'medium', true) ?></strong>
            <span class="separator">|</span>
            <small><a href="<?php echo $_attachment['url']; ?>"><?php echo $_attachment['file_name']; ?></a></small>
            <br/>
            <?php echo nl2br($this->escapeHtml($_attachment['comment'], array('b','br','strong','i','u'))) ?>
        </li>
    <?php endforeach; ?>
    </ul>
    <?php else: ?>
    <p><?php echo $this->__('You have no attachment uploaded'); ?></p>
    <?php endif; ?>
</div>
<?php endif; ?>