<?php $_block = $this; ?>
<?php $orderAttachments = $this->getVisibleOrderAttachments(); ?>
<?php if($this->getTitle()): ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php endif; ?>
<div id="manage-attachments-container">
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="attachments-custom-text">
<?php echo Mage::helper('redpandaplus_orderattachments')->getCustomText(); ?>
</div>
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success bar"></div>
    <div class="percent">0%</div>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
    <table cellspacing="0" class="data-table" id="<?php echo $_block->getHtmlId() ?>_grid" width="100%">
        <col />
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                <th><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                <?php if (Mage::helper('redpandaplus_orderattachments')->getOrderPermissionStatus($this->getOrder(), 'can_delete_attachments')): ?>
                <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                <?php endif; ?>
            </tr>
        </thead>
        <tbody id="<?php echo $_block->getHtmlId() ?>_list">
            <tr id="row-attachment-template-readonly" class="template no-display">
                    <td class="cell-file">
                        <a href="#url#">#file_name#</a>
                    </td>
                    <td class="cell-comment">#comment#</td>
                    <?php if (Mage::helper('redpandaplus_orderattachments')->getOrderPermissionStatus($this->getOrder(), 'can_delete_attachments')): ?>
                    <td class="cell-remove a-center last"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_is_delete" name="<?php echo $this->getFieldName() ?>_#id#[is_delete]" value="1" /></td>
                    <?php endif; ?>
            </tr>
            <tr id="row-attachment-template-edit" class="template no-display">
                    <td class="cell-file">
                        <input type="file" class="required-entry input-text" id="<?php echo $this->getFieldId() ?>_#id#_file" name="<?php echo $this->getFieldName() ?>_#id#[file]" value="" /><br />
                        <a href="#url#">#file_name#</a>
                    </td>
                    <td class="cell-comment"><textarea class="input-text" rows="5" cols="35" name="<?php echo $this->getFieldName() ?>_#id#[comment]">#comment#</textarea></td>
                    <?php if (Mage::helper('redpandaplus_orderattachments')->getOrderPermissionStatus($this->getOrder(), 'can_delete_attachments')): ?>
                    <td class="cell-remove a-center last"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_is_delete" name="<?php echo $this->getFieldName() ?>_#id#[is_delete]" value="1" /></td>
                    <?php endif; ?>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="last" style="padding:8px">
                    <?php if (Mage::helper('redpandaplus_orderattachments')->getOrderPermissionStatus($this->getOrder(), 'can_add_new_attachments')): ?>
                    <button id="add-attachment" type="button" class="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                    <?php endif; ?>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getOrderViewBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back to Order View') ?></a></p>
        <?php if(Mage::helper('redpandaplus_orderattachments')->getCanSaveAttachmentsForOrder($this->getOrder())): ?>
        <button type="submit" title="<?php echo $this->__('Save Attachments') ?>" class="button"><span><span><?php echo $this->__('Save Attachments') ?></span></span></button>
        <?php endif; ?>
    </div>
</form>

<script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var templateContentReadonly = $('row-attachment-template-readonly').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    templateTextReadonly : templateContentReadonly,
    numAllowedAttachments:  <?php echo Mage::helper('redpandaplus_orderattachments')->getNumberOfAllowedAttachments(); ?>,
    numAttachments: 0,
    add : function(data) {
        <?php if(Mage::helper('redpandaplus_orderattachments')->getOrderPermissionStatus($this->getOrder(), 'can_edit_attachments')): ?>
        this.template = new Template(this.templateTextEdit, this.templateSyntax);
        <?php else: ?>
        this.template = new Template(this.templateTextReadonly, this.templateSyntax);
        <?php endif; ?>

        this.numAttachments++;

        if (this.numAttachments == this.numAllowedAttachments) {
            this.addAttachmentBtn.hide();
        }

        if (this.numAttachments > this.numAllowedAttachments) {
            return;
        }

        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});



        //set selected type
        if (data.type) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }

        //set selected is_require
        if (data.is_require) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_is_require').options).each(function(option){
                if (option.value==data.is_require) option.selected = true;
            });
        }

        this.bindRemoveButtons();
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;

            if (this.numAttachments < this.numAllowedAttachments) {
                this.addAttachmentBtn.show();
            }

        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
    }
}

orderAttachment.bindRemoveButtons();
if ($('add-attachment')) {
    Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));
}

<?php foreach ($orderAttachments as $orderAttachment): ?>
    orderAttachment.add(<?php echo Mage::helper('core')->jsonEncode($orderAttachment) ?>);
<?php endforeach; ?>
</script>
</div>
<script>
  window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');
</script>
<script type="text/javascript">
    $.noConflict();
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('pws_orderattachments/js/jquery.form.js'); ?>"></script>
<script type="text/javascript">
jQuery.noConflict();

jQuery( document ).ready(function( $ ) {
    
    (function() {
        
    var bar = $('.bar');
    var percent = $('.percent');
    //var status = $('#status');
       
    $('#form-validate').ajaxForm({
        beforeSend: function() {
            var percentVal = '0%';
            bar.width(percentVal)
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = '100%';
            bar.width(percentVal)
            percent.html(percentVal);
        },
        success: function() {            
            var percentVal = '100%';
            bar.width(percentVal)
            percent.html(percentVal);
        },
        complete: function(xhr) {
            setTimeout(function(){
                $('#manage-attachments-container').html(xhr.responseText);
                document.fire("custom:submit-reload-after");
            },500); 
        }
    });
    
    // reatach ajax form handler
    document.observe("custom:submit-reload-after", function(event) {
        var bar = $('.bar');
        var percent = $('.percent');

        $('#form-validate').ajaxForm({
            beforeSend: function() {
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function(event, position, total, percentComplete) {                
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function(xhr) {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);               
            },
            complete: function(xhr) {
                setTimeout(function(){
                    $('#manage-attachments-container').html(xhr.responseText);
                    document.fire("custom:submit-reload-after");
                },500);                
            }
        });
    });
    
    })();       
});
</script>
