<form action="/supplier/product/edit" method="post" id="supplier-product-add">
	<div class="supplier-attribute-group fiedset">
		<h2><?php echo $this->__('Attribute Set'); ?></h2>
		<div class="supplier-attribute-fields">
			<?php $entityTypeId = Mage::getModel('eav/entity')->setType('catalog_product')->getTypeId(); ?>
			<?php $attributesets = Mage::getResourceModel('eav/entity_attribute_set_collection')->setEntityTypeFilter($entityTypeId)->load()->toOptionArray(); ?>
			<div class="supplier_product_field">
				<select name="attributeset">
					<?php foreach($attributesets as $key=>$value): ?>
						<option value="<?php echo $value['value']; ?>"><?php echo $value['label']; ?></option>
					<?php endforeach; ?>	
				</select>
			</div>
			<?php $producttypes = Mage::getModel('catalog/product_type')->getOptionArray(); ?>
			
			<div class="supplier_product_field" style="display: none;">
				<label><?php echo $this->__('Product type') ?></label>
				<select name="producttype">
					<?php foreach($producttypes as $key=>$value): ?>
						<option value="<?php echo $key; ?>"><?php echo $value; ?></option>
					<?php endforeach; ?>	
				</select>
			</div>
		</div>
	</div>
	<button type="submit" class="button"/><span><span><?php echo $this->__('Next'); ?></span></span></button>
</form>
