<?php $_product = $this->getProduct(); ?>
<form action="<?php echo $this->getUrl('supplier/product/save', array('id'=>$_product->getId())); ?>" method="post" enctype="multipart/form-data">
	<button type="submit" class="button supplier-button-submit"/><span><span><?php echo $this->__('Save'); ?></span></span></button>
	<a href="<?php echo $this->getUrl('supplier/product/delete',array('id'=>$_product->getId())); ?>"  class="supplier-action-link"><?php echo $this->__('Delete Product'); ?></a>
	
	<input type="hidden" name="attributeSetId" value="<?php echo $this->getAttributeSetId(); ?>"/>
	<input type="hidden" name="typeId" value="<?php echo $this->getTypeId(); ?>"/>
	<h1><?php echo $this->__('Edit'); ?> <?php echo $_product->getName(); ?></h1>
	<?php foreach($this->getAttributes() as $group): ?>
		<?php if(count($group->getAttributes())): ?>
		<div class="supplier-attribute-group">
			<h2><?php echo $group->getAttributeGroupName(); ?></h2>
			<div class="supplier-attribute-fields">
				<?php foreach($group->getAttributes() as $attribute):?>
					<?php echo $this->getAttributeHtml($attribute); ?>
				<?php endforeach; ?>
			</div>
		</div>	
		<?php endif; ?>
	<?php endforeach; ?>
	
	<?php $stock = $this->getStock($_product); ?>
	<div class="supplier-attribute-group">
		<h2><?php echo $this->__('Stock'); ?></h2>
		<div class="supplier-attribute-fields">
			<?php if($stock->getManageStock() || !$_product->getId()): ?>
				<div class="supplier_product_field supplier_product_field_sku">
					<label class="vendor_product_add_label"><?php echo $this->__('Qty'); ?></label>
					<input class="required-entry  vendor_product_add_text" value="<?php echo round($stock->getQty()); ?>" type="text" name="stock[qty]">
				</div>
			<?php else : ?>
				<div class="supplier_product_field supplier_product_field_sku">
					<label class="vendor_product_add_label"><?php echo $this->__('Stock management disabled'); ?></label>
				</div>
			<?php endif;?>
		</div>
	</div>
		
	<div class="supplier-attribute-group">
		<h2><?php echo $this->__('Website'); ?></h2>
		<div class="supplier-attribute-fields">
			<?php echo $this->getWebsites(); ?>
		</div>
	</div>
	
	<div class="supplier-attribute-group">
		<h2><?php echo $this->__('Categories'); ?></h2>
		<div class="supplier-attribute-fields supplier-category-tree">
			<?php echo $this->getCategories(); ?>
		</div>
	</div>
	
	<button type="submit" class="button supplier-button-submit"/><span><span><?php echo $this->__('Save'); ?></span></span></button>
	<a href="<?php echo $this->getUrl('supplier/product/delete',array('id'=>$_product->getId())); ?>" class="supplier-action-link"><?php echo $this->__('Delete Product'); ?></a>
	
</form>