<?php $collection = $this->getCollection(); ?>
<?php $config = Mage::getStoreConfig('supplier/interfaceoptions/interface_product_edit'); ?>
<div class="supplier_view_main supplier_view_grid">
	<div class="supplier_buttons">
		<a href="<?php echo $this->getUrl('supplier/product/add'); ?>"><?php echo $this->__('Add New Product'); ?></a>
	</div>	
	<p class="note"><?php echo $this->__('Setting the Stock to Zero will set the product offline') ?></p>
	<div id="message"></div>
	<table id="supplier-products">
		<tr class="menu_font_style">
			<th><?php echo $this->__('Product Name') ?></th>
		    <th><?php echo $this->__('SKU') ?></th>
		    <th><?php echo $this->__('QTY') ?></th>
		    <th><?php echo $this->__('Action') ?></th>
		    <?php if($config): ?><th><?php echo $this->__('Edit') ?></th><?php endif;?>
		</tr>
		<?php $i = 0; foreach($collection as $_product): ?>
			<?php $stock = $this->getStock($_product); ?>
		    <?php $i++; ?>
		    <tr id="row-<?php echo $_product->getId(); ?>" class="<?php if(($i%2) == 0){?>even<?php } else{?>odd<?php } ?>">
		        <td width="50%"><?php echo $_product->getName(); ?></td>
		        <td width="20%"><?php echo $_product->getSku(); ?></td>
		        <?php if($stock->getManageStock()): ?>
			        <form action="<?php echo $this->getUrl('supplier/product/saveStock', array('id'=>$_product->getId())); ?>" method="post">
				        <td width="5%">		        	
			        		<input type="text" name="qty" value="<?php echo round($stock->getQty()); ?>" style="width: 24px" class="qty"/>
				        </td>
				        <td width="15%">
			        		<button class="save button"><span><span><?php echo $this->__('Save stock') ?></span></span></button>
				        </td>
			        </form>
	        	<?php else: ?>
	        		 <td width="5%"><?php echo $this->__('Unlimited'); ?></td>
	        		 <td width="15%"><?php echo $this->__('&nbsp;'); ?></td>
	        	<?php endif; ?>
	        	<?php if($config): ?>
			    	<td width="15%">
			    		<?php if($_product->getTypeId()=='simple'):?>
			    			<a class="edit" href="<?php echo $this->getUrl('supplier/product/edit',array('id'=>$_product->getId())); ?>"><?php echo $this->__('Edit') ?></a>
			    		<?php else : ?>
			    			<span class="supplier-disabled"><?php $this->__('Edit'); ?></span>
			    		<?php endif; ?>
			    	</td>
		    	<?php endif; ?>
		    </tr>   
		<?php  endforeach; ?> 
	</table>
</div>