<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php //if ($_hasAssociatedProducts) $_product->setData('is_salable', 1); ?>
<?php if ($_product->isAvailable() && $_hasAssociatedProducts): ?>
    <!-- <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p> -->
<?php else: ?>
   <!-- <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p> -->
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<!-- attribute table Right to left now-->
<table class="data-table grouped-items-table" id="super-product-table-left">
    <thead>
        <tr>
			<th><?php echo $this->__('Eye') ?>  </th>   
			<?php // Left Headers ?>
			<?php 
            if ($_hasAssociatedProducts){
            $options = $_associatedProducts[1]->getProductOptionsCollection();
                foreach($options as $option): ?>
				<?php 
				$option_title = $option->getTitle();
				if($option_title == 'Frame Style & Color'
					|| $option_title == 'Lens Type'
					|| $option_title == 'Lens Material'
					|| $option_title == 'Lens Color'
					|| $option_title == 'Lens Coating'
					|| $option_title == 'Pupil Distance'
				) { } else{ ?>
				<th class="custom_option_right">
                <?php if ($option->getIsRequire()) echo '<em>*</em>';
					echo $option->getTitle(); ?>
                </th>
					
				<?php }?>
            <?php endforeach; } ?>            
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td><?php echo $_item->getShortDescription(); ?></td>
            <?php
                /* @var $options Mage_Catalog_Model_Resource_Product_Option_Collection */
 	           $options = $_item->getProductOptionsCollection();               
                   foreach($options as $option){      
				$option_title = $option->getTitle();
				if(! ($option_title == 'Frame Style & Color'
					|| $option_title == 'Lens Type'
					|| $option_title == 'Lens Material'
					|| $option_title == 'Lens Color'
					|| $option_title == 'Lens Coating'
					|| $option_title == 'Pupil Distance'
				)) { 		   
 	               $select = $this->getLayout()->createBlock('core/html_select');
 	               $select->setClass('required-entry product-custom-option');
 	               $select->setName('super_options['.$_item->getId().']['.$option->getId().']');
                       $select->setId('super_group['.$_item->getId().']['.$option->getId().']');
 	               //$select->addOption('', '– Select '.$option->getTitle().' –');
                       //if($option->getTitle() == 'Power'){
                       // $select->addOption('', ' Select '.$option->getTitle().' ');
                       //Changed to without select
                         $select->addOption('', $option->getTitle());
                         
                     //  }
 	
 	               foreach ($option->getValues() as $value) {
 	                   $select->addOption($value->getOptionTypeId(), $value->getTitle());
 	               }
                       echo "<td>" . $select->getHtml() . "</td>";
                   }}
                   ?>
        </tr>
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>

<!-- attribute table Left to right now -->
<table class="data-table grouped-items-table right-super-table" id="super-product-table">
    <thead>
        <tr>   
			<?php // Left Headers ?>
			<?php 
            if ($_hasAssociatedProducts){
            $options = $_associatedProducts[1]->getProductOptionsCollection();
                foreach($options as $option): ?>
				<?php 
				$option_title = $option->getTitle();
				if($option_title == 'Frame Style & Color'
					|| $option_title == 'Lens Type'
					|| $option_title == 'Lens Material'
					|| $option_title == 'Lens Color'
					|| $option_title == 'Lens Coating'
					|| $option_title == 'Pupil Distance'
				) {?>
                <th class="custom_option_left">
                <?php if ($option->getIsRequire()) echo '<em>*</em>';
					echo $option->getTitle(); ?>
                </th>
				<?php } ?> 
            <?php endforeach; } ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): 		$count = 1; ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ;
		?>
        <tr class="" >
            <?php
                /* @var $options Mage_Catalog_Model_Resource_Product_Option_Collection */
 	           $options = $_item->getProductOptionsCollection();               
                   foreach($options as $option){  ?>
				   <?php 
				$option_title = $option->getTitle();
				if($option_title == 'Frame Style & Color'
					|| $option_title == 'Lens Type'
					|| $option_title == 'Lens Material'
					|| $option_title == 'Lens Color'
					|| $option_title == 'Lens Coating'
					|| $option_title == 'Pupil Distance'
				) {?>
<?php				   
 	               $select = $this->getLayout()->createBlock('core/html_select');
 	               $select->setClass('required-entry product-custom-option');
 	               $select->setName('super_options['.$_item->getId().']['.$option->getId().']');
                       $select->setId('super_group['.$_item->getId().']['.$option->getId().']');
 	               //$select->addOption('', '– Select '.$option->getTitle().' –');
                       //if($option->getTitle() == 'Power'){
                       // $select->addOption('', ' Select '.$option->getTitle().' ');
                       //Changed to without select
                         $select->addOption('', $option->getTitle());
                         
                     //  }
 	
 	               foreach ($option->getValues() as $value) {
 	                   $select->addOption($value->getOptionTypeId(), $value->getTitle());
 	               }
                       echo "<td>" . $select->getHtml() . "</td>";
                   } }
                   ?>		  
        </tr>
    <?php $count++; endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>

<!-- Quantity table separated -->
<table class="data-table grouped-items-table right-quantity-table" id="super-product-table-quantity">
    <thead>
        <tr>   		 
			<?php // Price and Qty Box ?>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <th class="a-right" style="display:none;"><?php echo $this->__('Price') ?></th>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <th class="a-center"><?php echo $this->__('Quantity') ?></th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): 		$count = 1; ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ;
		?>
        <tr class="" >        
			<?php // Price and Qty Content ?>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <td class="a-right" style="display:none;">
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <td class="a-center">
            <?php if ($_item->isSaleable()) : ?>
                <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="0<?php //echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" onblur="javascript:on_blur_text()"/>
            <?php else: ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            </td>
            <?php endif; ?>
        </tr>
    <?php $count++; endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>

<script type="text/javascript">decorateTable('super-product-table')</script>
