<?php
/**
 * Magento Customer Attachment Module
 *
 * @category    design
 * @package     default_beneficiary
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * @see Tm_Beneficiary_Block_Customer_Beneficiary
 */
?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php $_block = $this; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_beneficiary = $this->getPrescription(); ?>
<div id="manage-attachments-container">
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success bar"></div>
    <div class="percent">0%</div>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
    <table cellspacing="0" class="data-table" id="<?php  $_block->getHtmlId() ?>_grid" width="100%">
        <col />
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                <th><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
            </tr>
        </thead>
        <tbody id="<?php echo $_block->getHtmlId() ?>_list">
          
            <tr id="row-attachment-template-edit" class="template">
                    <td class="cell-file">
                        <input type="file" class="required-entry input-text" name="myfile[]" value="" />
                       
                    </td>              
            </tr>
            <tr id="row-attachment-template-edit" class="template">
                    <td class="cell-file">
                        <input type="file" class="required-entry input-text" name="myfile[]" value="" />
                       
                    </td>              
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="last" style="padding:8px">        
                    <button id="add-attachment" type="button" class="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo $this->__('Save Attachments') ?>" class="button"><span><span><?php echo $this->__('Save Attachments') ?></span></span></button>
    </div>
</form>
<!--script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var templateContentReadonly = $('row-attachment-template-readonly').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    templateTextReadonly : templateContentReadonly,
    numAllowedAttachments:  4,
    numAttachments: 0,
    add : function(data) {
        this.template = new Template(this.templateTextEdit, this.templateSyntax);
        this.numAttachments++;

        if (this.numAttachments == this.numAllowedAttachments) {
            this.addAttachmentBtn.hide();
        }

        if (this.numAttachments > this.numAllowedAttachments) {
            return;
        }

        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});



        //set selected type
        if (data.type) {
            $A($('<?php //echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }

        //set selected is_require
        if (data.is_require) {
            $A($('<?php //echo $this->getFieldId() ?>_'+data.id+'_is_require').options).each(function(option){
                if (option.value==data.is_require) option.selected = true;
            });
        }

        this.bindRemoveButtons();
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;

            if (this.numAttachments < this.numAllowedAttachments) {
                this.addAttachmentBtn.show();
            }

        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
    }
}

orderAttachment.bindRemoveButtons();
if ($('add-attachment')) {
    Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));
}
</script-->
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->getUrl('customer/account/') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>

