<!--@subject Order File Attachment(s) Added/Updated for order {{var order.increment_id}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <p>Order File Attachment(s) Added/Updated for order {{var order.increment_id}} .</p>
    {{layout handle="sales_email_order_attachments_notifications" order=$order order_attachments=$order_attachments}}
</div>

