<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $orderAttachments = $this->getOrderAttachments(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Order Attachments') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if ($orderAttachments->getSize()): ?>
<table cellspacing="0" class="data-table" id="my-order-attachments-table">
    <thead>
        <tr>
            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Attachment Name') ?></th>
            <th><?php echo $this->__('Created On') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($orderAttachments as $orderAttachment): ?>
            <?php $order = Mage::getModel('sales/order')->load($orderAttachment->getOrderId()); ?>
            <tr>
                <td><a href="<?php echo Mage::getUrl('sales/order/view/', array('_secure' => true, 'order_id' => $orderAttachment->getOrderId())); ?>"><?php echo $orderAttachment->getIncrementId(); ?></a></td>
                <?php $url   = Mage::getUrl('orderattachments/index/getFile', array(
                    '_secure' => true,
                    'file_id' => $orderAttachment->getData('hash')
                ));
                ?>
                <td><a href="<?php echo $url; ?>"><?php echo basename($orderAttachment->getFile()); ?></a></td>
                <td><?php echo $this->formatDate($orderAttachment->getCreatedOn(), 'medium'); ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-order-attachments-table')</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have no order attachments.'); ?></p>
<?php endif ?>
