<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 *
 *
 *
 * Template for Mage_Page_Block_Html
 */
?>
<style>
.contact-list{width:100%}
.contact-list td h2 {
    color: blue;
    float: left;
    width: 50%;
}
.contact-list td h2 a {
    color:#92B6D8;
}
.contact-list td {
    border-bottom: 1px solid #ccc;
    padding: 18px 2px;
}
.catimage > img {
    height: 100px;
    width: 100%;
}
.catimage {
    padding-right: 29px !important;
    width: 16%;
}
@media (max-width:767px){
.contact-list tr td{
	width:100%;
	display:inline;
	border:none;
	}	
	.contact-list td h2{width:100%; text-align:center}
	}
</style>
<?php 
/*****/

$sidebarPosition = MAGE::helper('ThemeOptions')->getThemeOptions('sidebar'); 
$custompatern = MAGE::helper('ThemeOptions')->getThemeOptions('custompatern');
$bgPatern = $paternurl = $mediaurl = "";
if (!$custompatern):
    $bgPatern = MAGE::helper('ThemeOptions')->getThemeOptions('patern');
else:
    $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
    $paternurl = 'style="background:url('.$mediaurl.$custompatern.') center top repeat;"';
endif;
/*****/
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<div class="content-wrapper<?php echo $this->getBodyClass()?' '.$bgPatern:'' ?>" <?php echo $paternurl; ?>>
    <div class="shadow-box">
		<div class="site-container">
			<div class="container_12">    
				<?php echo $this->getChildHtml('header') ?>
				<?php echo $this->getChildHtml('breadcrumbs') ?>
				<div class="main-container col1-layout">
					<div class="grid_12 col-main">
						<?php echo $this->getChildHtml('global_messages') ?>
						<?php //echo $this->getChildHtml('content') ?>
 <table class="contact-list">
                        <?php
                    
$root = Mage::getModel('catalog/category')->load(3); 
$subCat = explode(',',$root->getChildren()); 

$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) );

foreach($collection as $catname){
	?>
    <tr>
    <td class="catimage">
    <h2>
	<?php
 //echo $catname->getName();
?>
</h2>

<img src="<?php echo Mage::getBaseUrl('media')?>catalog/category/<?php echo $catname->getThumbnail() ?>">

</td>
					  <?php   $categoryIds = array($catname->getId());//category id

$collection = Mage::getModel('catalog/product')
                             ->getCollection()
                             ->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
                             ->addAttributeToSelect('*')
                             ->addAttributeToFilter('category_id', array('in' => $categoryIds))?>
          <?php $_collectionSize = $collection->count() ?>
          <?php //$_columnCount = $this->getColumnCount(); ?>
          <td>
          <?php
		  foreach ($collection as $product): ?>
         <?php $v= $product->getVisibility(); ?></h2>
          <?php if ($v=="4")
		  {
			  ?>
          <h2 ><a href="<?php echo $product->getProductUrl()?>" title="<?php echo $product->getName()?>"><?php echo $product->getName() ?></a></h2>
          <?php }?>
          
          
              
            
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
          
          <?php endif ?>
          <?php endforeach; ?>
          </td>
          </tr>
		  <?php } ?>
          </table>
       

					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<?php echo $this->getChildHtml('footer') ?>
		<?php echo $this->getChildHtml('before_body_end') ?>
	</div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>