<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php 
	$_menu = $this->getHtml('level-top');
	$routeName = Mage::app()->getRequest()->getRouteName();  
	$identifier = Mage::getSingleton('cms/page')->getIdentifier();
	
	$navigation = MAGE::helper('ThemeOptions')->getThemeOptions('menu');
	$statt = MAGE::helper('ThemeOptions/Menu')->getMenuStaticBlocks();
?>
<?php if($_menu): ?>
<nav class="nav-container">
    <ul class="<?php if ($navigation['type'] == 'menu_wide') echo 'nav-wide'; else echo 'nav'; ?>" id="nav">
    	        <?php 
	        echo $_menu;
	        echo $statt; ?>
    </ul>
</nav>
<?php endif ?>