<?php
/**
 * Magento Customer Attachment Module
 *
 * @category    design
 * @package     default_beneficiary
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * @see Tm_Beneficiary_Block_Customer_Beneficiary
 */
?>
<?php 
$customerAttachments=$this->getCustomerAttachments();
?>
<div class="page-title">
    <h1>My Prescriptions</h1>
</div>
<?php $_block = $this; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_beneficiary = $this->getPrescription(); ?>
<div id="manage-attachments-container">

<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
    <table cellspacing="0" class="data-table" id="<?php  $_block->getHtmlId() ?>_grid" width="100%">
        <col />
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th style="text-align: left"><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                <th style="text-align: left"><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                <th style="width:100px;text-align: left">Created On</td>
            </tr>
        </thead>
        <tbody id="<?php echo $_block->getHtmlId() ?>_list">
          <?php foreach ($customerAttachments as $customerAttachment): ?>
         <?php 
         $file_arr=explode("/",$customerAttachment->getFile());
        // print"</pre>";print_r($file_arr);print"</pre>";
         
         $file_name=$file_arr[count($file_arr)-1];
         ?>
            <tr>
                <td><a href="<?php echo $this->getBaseUrl().$customerAttachment->getFile()?>" target="_blank"><?php echo $file_name;?></a></td>
                <td><?php echo $customerAttachment->getComment();?></td>
                <td><?php echo $this->formatDate($customerAttachment->getCreatedOn(), 'medium'); ?></td>
            </tr>
        <?php endforeach; ?>
            <tr id="row-attachment-template-edit" class="template no-display">
                    <td class="cell-file">
                        <input type="file" class="required-entry input-text" name="myfile[]" value="" />                   
                    </td> 
                    <td class="cell-comment"><textarea class="input-text" rows="3" cols="35" name="customer_comment[]">#comment#</textarea></td>
                          
            </tr>
            
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="last" style="padding:8px">        
                    <button id="add-attachment" type="button" class="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="buttons-set">
        <button type="submit" title="<?php echo $this->__('Save Attachments') ?>" class="button"><span><span><?php echo $this->__('Save Attachments') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    numAttachments: 0,
    hasAttachments: false,
    numAllowedAttachments:  <?php echo Mage::helper('redpandaplus_orderattachments')->getNumberOfAllowedAttachments(); ?>,
    add : function(data) {
        this.template = new Template(this.templateTextEdit, this.templateSyntax);

        if (this.numAttachments > this.numAllowedAttachments) {
            return;
        }

        var currentDateTime = new Date();
        var dateFormated = currentDateTime.getFullYear() + '-' + currentDateTime.getMonth() + '-' + currentDateTime.getDate();
        dateFormated += ' ' + currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = dateFormated;
            data.show = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
            this.hasAttachments = true;
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});

        this.numAttachments++;

        if (this.numAttachments == this.numAllowedAttachments) {
            this.addAttachmentBtn.hide();
        }
        this.updateHtmlElements(data);
        this.bindRemoveButtons();        
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;

            if (this.numAttachments < this.numAllowedAttachments) {
                this.addAttachmentBtn.show();
            }

        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }

    },
    updateHtmlElements: function(data) {
        //set selected product
        if (data.product && data.product > 0) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }
    },
    // @see js/mage/adminhtml/tools.js function submitAndReloadArea(area, url)
    submitAndReloadArea: function(area, url) {
        url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
        new Ajax.Request(url, {
            loaderArea: area,
            onSuccess: function(transport) {
                try {
                    if (transport.responseText.isJSON()) {
                        var response = transport.responseText.evalJSON()
                        if (response.error) {
                            alert(response.message);
                        }
                        if(response.ajaxExpired && response.ajaxRedirect) {
                            setLocation(response.ajaxRedirect);
                        }
                    } else {
                        document.fire("custom:submit-reload-after", { area: area });
                        $(area).update(transport.responseText);                        
                    }
                }
                catch (e) {
                    $(area).update(transport.responseText);
                }
            }
        });
    }

}

orderAttachment.bindRemoveButtons();
Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));

/*
Event.observe('save-attachments-btn','click',function(eventObj) {
  Event.stop(eventObj);

  //$('file_upload_form').target = 'upload_target';
  $('file_upload_form').submit();

  try {
    $('upload_target').observe('load', function (){
      orderAttachment.submitAndReloadArea($('<?php echo $this->getHtmlId(); ?>').parentNode, '<?php echo $this->getBlockUrl(); ?>');
    });
  } catch(e) {}

}.bindAsEventListener(),false);
*/


<?php /*foreach ($orderAttachments as $orderAttachment): ?>
    orderAttachment.add(<?php echo Mage::helper('core')->jsonEncode($orderAttachment) ?>);
<?php endforeach; */?>
</script>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->getUrl('customer/account/') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>

