
.contact-list{width:100%}
.contactname{
	width:68%;
	float:left;
	margin:6px 0;

}
.catimage {
    float: left;
    width: 20%;
}
.contact-list h2 {
    float: left;
    width: 49% !important;
}
.contact-list td h2 a {
    color:#5A8DD4;
}
.contact-list tr {
    border-bottom: 1px solid #ccc;
    padding: 18px 2px;
}
.catimage > img {
    border: 0px solid #92b6d8;
    height: 100%;
    margin: 10px 0;
    padding: 7px;
    width: 100%;
} 
.catimage {
    padding-right: 10% !important;
    width: 20%;
}

.contactname a {
    border: 0px solid #f1f1f1;
    border-radius: 5px;
    display: block;
}
.contactname a:hover {
    box-shadow: 0 0 10px #eee;
}

@media (max-width:767px){
.contact-list tr td{
	width:100%;
	display:inline;
	border:none;
	}	
	.contact-list td h2{width:100%; text-align:center}
	.catimage{text-align:center;}
	}
