<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>

<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php //if ($_hasAssociatedProducts) $_product->setData('is_salable', 1); ?>
<?php if ($_product->isAvailable() && $_hasAssociatedProducts): ?>
    <!-- <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p> -->
<?php else: ?>
   <!-- <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p> -->
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<table class="data-table grouped-items-table" id="super-product-table">
    <thead>
        <tr>
            
            <th><?php echo $this->__('Eye') ?>  </th>
            


                <?php 
                if ($_hasAssociatedProducts){
            $options = $_associatedProducts[0]->getProductOptionsCollection();
             foreach($options as $option): ?>
                 <th>
                 <?php if ($option->getIsRequire()) echo '<em>*</em>';
                 echo $option->getTitle(); ?>
                </th>
                 <?php endforeach;} ?>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <th class="a-center"><?php echo $this->__('Price') ?></th>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <th class="a-center"><?php echo $this->__('Boxes') ?></th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td>
                <!--<input type="checkbox" value="<?php //echo $_item->getId() ?>" 
                     <?php //if ($_item->getQty()*1 > 0):?>
                       checked="checked"
                       <?php //endif; ?>
                       class="linses_check"/>-->
                    <?php echo $this->htmlEscape($_item->getShortDescription()) ?></td>
            
            <!--<td>-->
                <?php //echo $this->getOptionsHtml($_item); ?>
             <!--</td>-->
            <?php
                /* @var $options Mage_Catalog_Model_Resource_Product_Option_Collection */
 	           $options = $_item->getProductOptionsCollection();
                   
                   foreach($options as $option){
                       
 	               $select = $this->getLayout()->createBlock('core/html_select');
 	               $select->setClass('required-entry product-custom-option');
 	               $select->setName('super_options['.$_item->getId().']['.$option->getId().']');
                       $select->setId('super_group['.$_item->getId().']['.$option->getId().']');
 	               //$select->addOption('', '– Select '.$option->getTitle().' –');
                       //if($option->getTitle() == 'Power'){
                       // $select->addOption('', ' Select '.$option->getTitle().' ');
                       //Changed to without select
                         $select->addOption('', $option->getTitle());
                         
                     //  }
 	
 	               foreach ($option->getValues() as $value) {
 	                   $select->addOption($value->getOptionTypeId(), $value->getTitle());
 	               }
                       echo "<td>" . $select->getHtml() . "</td>";
                   }
                   ?>

            
           
            
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <td class="a-center">
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <td class="a-center">
            <?php if ($_item->isSaleable()) : ?>
                <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="0<?php //echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" onblur="javascript:on_blur_text()"/>
            <?php else: ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('super-product-table')</script>
