<?php
    $_order = $this->getOrder();
    $attachments = $this->getVisibleOrderAttachments($_order);
?>
<?php if($attachments): ?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <thead>
        <th align="left" bgcolor="#EAEAEA" colspan="2" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Order Attachments') ?></th>
    </thead>
    <tbody>
        <?php foreach ($attachments as $_attachment): ?>
        <tr>
            <th align="left"><a href="<?php echo $_attachment['url']; ?>"><?php echo $_attachment['file_name']; ?></a></th>
            <td align="left"><?php echo nl2br($this->escapeHtml($_attachment['comment'], array('b','br','strong','i','u'))) ?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>