<form action="" id="my-form"></form>
<?php $_block = $this; ?>
<?php $orderAttachments = $this->getUploadedAttachments(); ?>
<div id="messages"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div id="<?php echo $_block->getHtmlId() ?>">
    <h3 class="title"><?php echo $this->__('Upload Attachments'); ?></h5>
    <div class="attachments-custom-text">
        <?php echo $this->getCustomText(); ?>
    </div>
    <div class="grid">
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success bar"></div>
            <div class="percent">0%</div>
        </div>
        <form id="file_upload_form" method="post" enctype="multipart/form-data" action="<?php echo $this->getSubmitUrl(); ?>">
            <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
            <table cellspacing="0" class="data-table" id="<?php echo $_block->getHtmlId() ?>_grid" width="100%">
                <col />
                <col />
                <col width="1" />
                <thead>
                    <tr class="headings">
                        <th><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                        <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                    </tr>
                </thead>
                <tbody id="<?php echo $_block->getHtmlId() ?>_list">
                    <tr id="row-attachment-template-edit" class="template no-display">
                            <td class="cell-file">
                                <input type="file" class="input-text" id="<?php echo $this->getFieldId() ?>_#id#_file" name="<?php echo $this->getFieldName() ?>_#id#[file]" value="" /><br />
                                <a href="#url#">#file_name#</a>
                            </td>
                            <td class="cell-comment"><textarea class="input-text" rows="5" cols="35" name="<?php echo $this->getFieldName() ?>_#id#[comment]">#comment#</textarea></td>
                            <td class="cell-remove a-center last"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_is_delete" name="<?php echo $this->getFieldName() ?>_#id#[is_delete]" value="1" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="last" style="padding:8px">
                            <button id="add-attachment" type="button" class="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                        </td>
                        <td class="last" style="padding:8px">
                            <button id="save-attachments-btn" type="button" class="button"><span><span><?php echo $this->__('Save Attachments'); ?></span></span></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>        
    </div>
    <iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;"></iframe>
</div>
<script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    numAttachments: 0,
    hasAttachments: false,
    numAllowedAttachments:  <?php echo Mage::helper('redpandaplus_orderattachments')->getNumberOfAllowedAttachments(); ?>,
    add : function(data) {
        this.template = new Template(this.templateTextEdit, this.templateSyntax);

        if (this.numAttachments > this.numAllowedAttachments) {
            return;
        }

        var currentDateTime = new Date();
        var dateFormated = currentDateTime.getFullYear() + '-' + currentDateTime.getMonth() + '-' + currentDateTime.getDate();
        dateFormated += ' ' + currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = dateFormated;
            data.show = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
            this.hasAttachments = true;
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});

        this.numAttachments++;

        if (this.numAttachments == this.numAllowedAttachments) {
            this.addAttachmentBtn.hide();
        }


        this.updateHtmlElements(data);
        this.bindRemoveButtons();        
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;

            if (this.numAttachments < this.numAllowedAttachments) {
                this.addAttachmentBtn.show();
            }

        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }

    },
    updateHtmlElements: function(data) {
        //set selected product
        if (data.product && data.product > 0) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }
    },
    // @see js/mage/adminhtml/tools.js function submitAndReloadArea(area, url)
    submitAndReloadArea: function(area, url) {
        url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
        new Ajax.Request(url, {
            loaderArea: area,
            onSuccess: function(transport) {
                try {
                    if (transport.responseText.isJSON()) {
                        var response = transport.responseText.evalJSON()
                        if (response.error) {
                            alert(response.message);
                        }
                        if(response.ajaxExpired && response.ajaxRedirect) {
                            setLocation(response.ajaxRedirect);
                        }
                    } else {
                        document.fire("custom:submit-reload-after", { area: area });
                        $(area).update(transport.responseText);
                    }
                }
                catch (e) {
                    $(area).update(transport.responseText);
                }
            }
        });
    }

}

orderAttachment.bindRemoveButtons();
Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));


<?php foreach ($orderAttachments as $orderAttachment): ?>
    orderAttachment.add(<?php echo Mage::helper('core')->jsonEncode($orderAttachment) ?>);
<?php endforeach; ?>
</script>