<div id="order-attachments-top-checkboxes"> 

<?php
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
     $customerData = Mage::getSingleton('customer/session')->getCustomer();
	 $customerId = $customerData->getId();
 }
 if(isset($customerId)){
  $categoryCollection = Mage::getModel('prescription/prescription')
						->getCollection()
						->addFieldToFilter('customer_id', $customerId);
		foreach ($categoryCollection as $categoryModel) {
			$categoryData = $categoryModel->getData();
			if(isset($categoryData['file']) && $categoryData['file'] != '') {
				//echo $categoryData['file'];
				
			}
		} 
 }
?> 
    <h2 class="title" style="font-size:1.5em"><?php echo $this->__('FDA requires orders verified by brand-specific Contacts Prescription Rx or Doctor Approval before shipping'); ?></h2>
<h2 class="title" style="color:#ff0000"><?php echo $this->__('Select one method below to verify your prescription (required)&#42;'); ?></h2>
    <div class="order-attachments-checkboxes-lists">
	<?php 
		// For Customer, who has already sent their prescriptions
		//if(isset($categoryData['file']) && $categoryData['file'] != '') {
	?>
		<div class="order-attachments-checkboxes-rows">
             <input type="checkbox" name="prescription[]" class="prescription" value="email prescription" />
             <?php echo $this->__('Prescription is On File with Lens Experts'); ?>           
        </div>
				
	<?php //} ?>
        <div class="order-attachments-checkboxes-rows">
             <input type="checkbox" name="prescription[]" class="prescription" value="email prescription" />
             <?php echo $this->__('e-mail Prescription to'); ?> 
             <a href="mailto:rx@lensexperts.com"><span class="blue_text"><?php echo $this->__('rx@lensexperts.com'); ?></span></a>
        </div>
        <div class="order-attachments-checkboxes-rows">
           <input type="checkbox" name="prescription[]" class="prescription" value="fax prescription" />
           <?php echo $this->__('fax Prescription to'); ?> 
           <span class="blue_text"><?php echo $this->__('877-377-2280  '); ?></span>
        </div>
        <div class="order-attachments-checkboxes-rows">
           <input type="checkbox" name="prescription[]" class="prescription" value="" />
           <?php echo $this->__('Allow us to verify your information with your Doctor or Clinic'); ?> 
<span class="blue_text"><?php echo $this->__(' (Allow 48 Hours) '); ?></span>
        </div>
        <div class="order-attachments-checkboxes-rows">
            <input type="checkbox" name="prescription[]" id="upload-prescription" class="prescription validate-one-required-by-name" value="" />
            <label class="upload_bold_text" for="upload-prescription"><?php echo $this->__('Upload Prescription Now'); ?></label>
            <span class="blue_text"><?php echo $this->__(' (FASTEST SHIPPING) '); ?></span>
        </div>
    </div>
</div>
<div id="order-attachments-wrapper" style="padding-top: 15px; display: none;">    
<?php $_block = $this; ?>
<?php $orderAttachments = $this->getUploadedAttachments(); ?>
<div id="messages"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div id="<?php echo $_block->getHtmlId() ?>">
    <div class="attachments-custom-text">
        <?php echo $this->getCustomText(); ?>
    </div>
    <div class="grid">
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success bar"></div>
            <div class="percent">0%</div>
        </div>
        <form id="file_upload_form" method="post" enctype="multipart/form-data" action="<?php echo $this->getSubmitUrl(); ?>">
            <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
            <table cellspacing="0" class="data-table" id="<?php echo $_block->getHtmlId() ?>_grid" width="100%">
                <col />
                <col />
                <col width="1" />
                <thead>
                    <tr class="headings">
                        <th><?php echo Mage::helper('catalog')->__('File Link') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Comment') ?></th>
                        <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                    </tr>
                </thead>
                <tbody id="<?php echo $_block->getHtmlId() ?>_list">
                    <tr id="row-attachment-template-edit" class="template no-display">
                            <td class="cell-file">
                                <input type="file" class="input-text" id="<?php echo $this->getFieldId() ?>_#id#_file" name="<?php echo $this->getFieldName() ?>_#id#[file]" value="" /><br />
                                <a href="#url#">#file_name#</a>
                            </td>
                            <td class="cell-comment"><textarea class="input-text" rows="3" cols="35" name="<?php echo $this->getFieldName() ?>_#id#[comment]">#comment#</textarea></td>
                            <td class="cell-remove a-center last"><input type="checkbox" id="<?php echo $this->getFieldId() ?>_#id#_is_delete" name="<?php echo $this->getFieldName() ?>_#id#[is_delete]" value="1" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="last" style="padding:8px">
                            <button id="add-attachment" type="button" class="button"><span><span><?php echo $this->__('Add Attachment'); ?></span></span></button>
                        </td>
                        <td class="last" style="padding:8px">
                            <button id="save-attachments-btn" type="button" class="button"><span><span><?php echo $this->__('Save Attachments'); ?></span></span></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>        
    </div>
    <iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;"></iframe>
</div>
<script type="text/javascript">
var templateContentEdit = $('row-attachment-template-edit').innerHTML;
var orderAttachment = {
    div : $('row-attachment-template-edit'),
    addAttachmentBtn: $('add-attachment'),
    templateSyntax : /(^|.|\r|\n)(#(\w+)#)/,
    templateTextEdit : templateContentEdit,
    numAttachments: 0,
    hasAttachments: false,
    numAllowedAttachments:  <?php echo Mage::helper('redpandaplus_orderattachments')->getNumberOfAllowedAttachments(); ?>,
    add : function(data) {
        this.template = new Template(this.templateTextEdit, this.templateSyntax);

        if (this.numAttachments > this.numAllowedAttachments) {
            return;
        }

        var currentDateTime = new Date();
        var dateFormated = currentDateTime.getFullYear() + '-' + currentDateTime.getMonth() + '-' + currentDateTime.getDate();
        dateFormated += ' ' + currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
        if(!data.id){
            data = {};
            data.id  = 'id_'+new Date().valueOf();
            data.comment = '';
            data.file_name = '';
            data.url = '';
            data.updated_on = dateFormated;
            data.show = '';
            this.template = new Template(this.templateTextEdit, this.templateSyntax);
            this.hasAttachments = true;
        }

        Element.insert(this.div, {'before':this.template.evaluate(data)});

        this.numAttachments++;

        if (this.numAttachments == this.numAllowedAttachments) {
            this.addAttachmentBtn.hide();
        }
        this.updateHtmlElements(data);
        this.bindRemoveButtons();        
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $(element.readAttribute('id')+'_'+'is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
            this.numAttachments--;

            if (this.numAttachments < this.numAllowedAttachments) {
                this.addAttachmentBtn.show();
            }

        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.attachment-box .delete-attachment');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }

    },
    updateHtmlElements: function(data) {
        //set selected product
        if (data.product && data.product > 0) {
            $A($('<?php echo $this->getFieldId() ?>_'+data.id+'_type').options).each(function(option){
                if (option.value==data.type) option.selected = true;
            });
        }
    },
    // @see js/mage/adminhtml/tools.js function submitAndReloadArea(area, url)
    submitAndReloadArea: function(area, url) {
        url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
        new Ajax.Request(url, {
            loaderArea: area,
            onSuccess: function(transport) {
                try {
                    if (transport.responseText.isJSON()) {
                        var response = transport.responseText.evalJSON()
                        if (response.error) {
                            alert(response.message);
                        }
                        if(response.ajaxExpired && response.ajaxRedirect) {
                            setLocation(response.ajaxRedirect);
                        }
                    } else {
                        document.fire("custom:submit-reload-after", { area: area });
                        $(area).update(transport.responseText);                        
                    }
                }
                catch (e) {
                    $(area).update(transport.responseText);
                }
            }
        });
    }

}

orderAttachment.bindRemoveButtons();
Event.observe('add-attachment', 'click', orderAttachment.add.bind(orderAttachment));

/*
Event.observe('save-attachments-btn','click',function(eventObj) {
  Event.stop(eventObj);

  //$('file_upload_form').target = 'upload_target';
  $('file_upload_form').submit();

  try {
    $('upload_target').observe('load', function (){
      orderAttachment.submitAndReloadArea($('<?php echo $this->getHtmlId(); ?>').parentNode, '<?php echo $this->getBlockUrl(); ?>');
    });
  } catch(e) {}

}.bindAsEventListener(),false);
*/


<?php foreach ($orderAttachments as $orderAttachment): ?>
    orderAttachment.add(<?php echo Mage::helper('core')->jsonEncode($orderAttachment) ?>);
<?php endforeach; ?>
</script>
</div>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('pws_orderattachments/js/jquery.form.js'); ?>"></script>
<script type="text/javascript">
jQuery.noConflict();

jQuery( document ).ready(function( $ ) {
    
    (function() {
        
    var bar = $('.bar');
    var percent = $('.percent');
    //var status = $('#status');
    
    $('#save-attachments-btn').click(function(){
        console.log($('#file_upload_form'));
        $('#file_upload_form').ajaxSubmit({
            beforeSend: function() {
                console.log('ajax submit');
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function() {            
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function(xhr) {            
                orderAttachment.submitAndReloadArea(document.getElementById('<?php echo $this->getHtmlId(); ?>').parentNode, '<?php echo $this->getBlockUrl(); ?>');
            }
        });
    });       
    
    
    // reatach ajax form handler
    document.observe("custom:submit-reload-after", function(event) {
        setTimeout(function(){
            var bar = $('.bar');
            var percent = $('.percent');
    
            $('#save-attachments-btn').click(function(){
                console.log($('#file_upload_form'));
                $('#file_upload_form').ajaxSubmit({
                    beforeSend: function() {
                        console.log('ajax submit');
                        var percentVal = '0%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    uploadProgress: function(event, position, total, percentComplete) {
                        var percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    success: function() {            
                        var percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    complete: function(xhr) {            
                        orderAttachment.submitAndReloadArea(document.getElementById('<?php echo $this->getHtmlId(); ?>').parentNode, '<?php echo $this->getBlockUrl(); ?>');
                    }
                });
            });       
        
        }, 500);
    });
    
    })();       
});
jQuery(document).ready(function($){
    $("#upload-prescription").change(function() {
        if(this.checked) {
            //Show Description Box
            $('#order-attachments-wrapper').css('display', 'block');
        }else{
            $('#order-attachments-wrapper').css('display', 'none');  
        }
    });
});

</script>